*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #fdd037;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #111;
    box-sizing: border-box;
    border-radius: 20px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fdd037;
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fdd037;
    margin-bottom: 30px;
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fdd037;
    pointer-events: none;
    transition: 500ms;
}
.login-box .user-box input:focus~label,.login-box .user-box input:valid~label{
    top: -20px;
    left: 0;
    color: #fdd037;
    font-size: 12px;
}
.forgot-pass{
    font-size: 12px;
    color: #fff;
    float: right;
}
span .toggle{
    position: absolute;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
    z-index: 99;
}
span .ripple{
    background: #fff;
    display: block;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    right: 10px;
    transition: all 200ms;
    z-index: 1;
}
.pass-strength{
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.strength-label{
    font-size: 12px;
    margin-left: 10px;
}
.strength-percent{
    flex: 1;
    height: 5px;
    border-radius: 10px;
    display: block;
    background: #eee;
}
.strength-percent span{
    display: block;
    height: 100%;
    transition: all 400ms;
    border-radius: 10px;
}
.weak{
    background: red;
    width: 33%;
}
.average{
    background: #ffd000;
    width: 66%;
}
.strong{
    background: green;
    width: 100%;
}
.btn-submit{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fdd037;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 500ms;
    margin-top: 20px;
    letter-spacing: 4px;
}
.btn-submit:hover{
    background: #fdd037;
    color: rgb(10, 11, 21);
    border-radius: 5px;
    transition: 750ms ease-in-out;
}
.btn-submit span{
    position: absolute;
    display: block;
}
.btn-submit span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fdd037);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}
.btn-submit span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fdd037);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 250ms;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,
    100%{
        top: 100%;
    }
}   
.btn-submit span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fdd037);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 500ms;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}
.btn-submit span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fdd037);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 750ms;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%,
    100%{
        bottom: 100%;
    }   
}